@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

:root {
    --Dark-Blue: hsl(240, 38%, 20%);
    --Grayish-Blue: hsl(240, 18%, 77%);

    --fs: 2rem;

    --ff: 'Inter', sans-serif;

    --fw-light: 300;
    --fw-bold: 500;
    --fw-bolder: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-block: 50px;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-image: url("../../images/pattern-curve.svg");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 100%;
    font-family: var(--ff);
}

img {
    width: 100%;
    display: block;
}

.container {
    width: 90%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.img-container {
    width: min(90%, 369px);
    padding: 30px;
    margin-inline: auto;
    order: 1;
    background-image: url("../../images/pattern-bg.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: relative;
}

.img-container img {
    width: min(100%, 305px);
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-inline: auto;
    border-radius: 5px;
    box-shadow: 0 30px 50px hsla(240, 37%, 20%, 0.412);
    transition: 0.5s;
}

.group-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.btn {
    border: none;
    background-color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.btn:not(:hover) {
    background-color: #eeeeee;
}

.prev {
    border-radius: 20px 0 0 20px;
    padding: 10px 10px 10px 15px;
}

.next {
    border-radius: 0 20px 20px 0;
    padding: 10px 15px 10px 10px;
}

.content {
    font-weight: var(--fw-light);
    font-size: 1.2rem;
    padding-top: 50px;
    color: var(--Dark-Blue);
    text-align: center;
    line-height: 1.4;
    order: 2;
    background-image: url("../../images/pattern-quotes.svg");
    background-repeat: no-repeat;
    background-position: top center;
}

.person-info {
    font-size: 1rem;
}

.person-name {
    display: block;
    margin: 20px 0 10px 0;
    font-weight: var(--fw-bolder);
    transition: 0.5s;
}

.person-work {
    color: var(--Grayish-Blue);
    font-weight: var(--fw-bold);
    transition: 0.5s;
}

.main-content {
    transition: 0.5s;
}

@media (min-width:800px) {
    body {
        background-size: 50%;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0;
        width: 80%;
    }

    .content {
        order: 1;
        display: grid;
        place-content: center;
        z-index: 2;
        text-align: left;
    }

    .img-container {
        order: 2;
        transform: scale(1.5);
    }

    .person-info {
        margin-top: 25px;
    }

    .person-name {
        display: inline;
    }

    .group-btn {
        bottom: 10px;
        left: 30%;
    }

}

@media (min-width:1440px) {
    .content {
        font-size: var(--fs);
    }
}