@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

:root {
    --light-blue: hsla(211, 100%, 28%, 1);
    --blue: #142850;
    --dark-blue: hsla(236, 100%, 8%, 1);
    --border-dark-blue: #00032944;
    --error: #ff1100;

    --ff: 'Inter', sans-serif;

    --fw-light: 300;
    --fw-semi-light: 400;

    --fw-bold-light: 500;
    --fw-bold: 600;
    --fw-semi-bold: 700;
    --fw-bolder: 800;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: var(--ff);
    display: grid;
    place-items: center;
    padding: 50px 0;

    background: var(--dark-blue);
    background: linear-gradient(90deg, var(--dark-blue) 0%, var(--light-blue));
    background: -moz-linear-gradient(90deg, var(--dark-blue) 0%, var(--light-blue));
    background: -webkit-linear-gradient(90deg, var(--dark-blue) 0%, var(--light-blue));
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#000328", endColorstr="#00458E", GradientType=1);
}

.fluid-container {
    width: min(90%, 1300px);
    margin-inline: auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px #0b20493a;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.title {
    color: var(--dark-blue);
    margin-bottom: 30px;
    font-size: 1.8rem;
}

img {
    width: 45px;
    height: 45px;
    display: block;
}

.type-text {
    font-weight: var(--fw-bold-light);
    font-size: 1.125rem;
    color: #142850;
}

.qr-type {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    order: 2;
    height: max-content;
}

@media (min-width:500px) {
    .title {
        font-size: 2.3rem;
    }

    .qr-type {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width:800px) {
    .qr-type {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width:1200px) {
    img {
        width: 50px;
        height: 50px;
    }

    .qr-type {
        grid-template-columns: repeat(4, 1fr);
        order: 1;
    }

    .type-form {
        order: 2;
    }

}

.type-container {
    flex-basis: 100px;
    border: 1px solid var(--border-dark-blue);
    border-radius: 15px;
    padding: 15px;
    display: grid;
    place-items: center;
    gap: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.type-container:hover {
    background-color: rgba(228, 228, 228, 0.411);
}

.type-container.active {
    background-color: rgba(163, 208, 255, 0.199);
}

.type-form {
    order: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input, textarea {
    font-size: 1.125rem;
    width: 100%;
    display: block;
    padding: 10px 10px;
    margin: 5px 0 10px 0;
    font-family: var(--ff);
    border: 1px solid var(--border-dark-blue);
    border-radius: 5px;
    resize: none;
    color: #142850;

}

input:focus, textarea:focus {
    border: 1px solid var(--dark-blue);
    outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}

label {
    font-size: 1.2rem;
    font-weight: var(--fw-bold);
}

.form-container {
    display: none;
    font-size: 1.125rem;
    max-height: 350px;
    overflow: auto;
}

.form-container.show {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Error State */
.error {
    border: 1px solid var(--error);
}

/* Button */
.btn, .btn-create {
    font-size: 1.125rem;
    padding: 15px 30px;
    background-color: var(--blue);
    border: none;
    color: #fff;
    font-family: var(--ff);
    border-radius: 30px;
    font-weight: var(--fw-bold);
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover, .btn-create:hover {
    background-color: #0b2049de;
}

.security-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(235, 235, 235);
    border-radius: 25px;
}

.wifi-security, .isHidden {
    display: grid;
    gap: 10px;
}

.security-container .btn {
    font-size: 1rem;
    background-color: transparent;
    color: var(--dark-blue);
}

.security-container .btn.active {
    background-color: var(--light-blue);
    color: #fff;
}

.flag-code-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    border: 1px solid var(--border-dark-blue);
    border-radius: 5px;
    padding: 5px 5px;
}

.flag img {
    height: 30px;
}

select {
    font-size: 1.2rem;
    font-family: var(--ff);
    padding: 5px;
    border: 1px solid var(--border-dark-blue);
    /* background-color: transparent; */
}

select:focus {
    outline: none;
}

.isHidden {
    display: flex;
}

input[type="checkbox"] {
    height: 20px;
    width: 20px;
}

.qr-code-container {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    background-color: #ffffff;
    width: min(90%, 550px);
    border-radius: 10px;
    padding: 20px;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: 0.3s;
}

.qr-code-container.show {
    visibility: visible;
    opacity: 1;

}

.qr-code {
    height: 200px;
    width: 200px;
    margin-inline: auto;
}

.qr-code img {
    width: 100%;
    height: 100%;
}

.save {
    width: 100%;
    margin-top: 20px;
    font-size: 1.2rem;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--light-blue);
    color: #fff;
    cursor: pointer;
}

.close {
    font-size: 1.5rem;
    align-self: flex-end;
    cursor: pointer;
}

body {
    position: relative;
}

.overlay {
    background-color: transparent;
    transition: 0.3s;
}

body.overlay::after {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    background-color: rgba(15, 25, 65, 0.333);
    height: 100%;
    width: 100%;
    z-index: 2;
}

@media (max-width:450px) {
    .security-container {
        grid-template-columns: repeat(1, 1fr);
        border-radius: 10px;
    }

    .wpa-btn.active {
        border-radius: 10px 10px 0 0;
    }

    .wep-btn.active {
        border-radius: 0px 0px 0 0;
    }

    .none-btn.active {
        border-radius: 0px 0px 10px 10px;
    }

    .security-container .btn {
        font-size: 0.7rem;
        background-color: transparent;
        color: var(--dark-blue);
    }
}

@media (min-width: 500px) {
    .btn-create {
        padding: 15px 30px;
        border-radius: 50px;
        font-size: 1.3rem;
    }

    input, textarea {
        font-size: 1.2rem;
    }

    label:not(.radio-btn) {
        font-size: 1.4rem;
    }
}

@media (min-width:1200px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    input, textarea {
        font-size: 1.2rem;
    }

    label:not(.radio-btn) {
        font-size: 1.4rem;
    }
}

.info {
    color: var(--border-dark-blue);
    text-align: center;
}

.qr-for {
    color: var(--dark-blue);
    font-weight: 500;
    text-transform: capitalize;
}