@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&display=swap');

:root {
    --white: #FFF;
    ---grayish-white: #F1F2F6;
    --blue: #3354F4;
    --dark-blue: #252C58;
    --light-blue: #9196ac;
    --ff-lex: 'Lexend', sans-serif;
    --blue-hover: #4866f9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-lex);
    text-transform: capitalize;
    min-height: 100vh;
    background-color: var(---grayish-white);
}

.container {
    width: 90%;
    margin-inline: auto;
    margin-block: 50px;
}

.dashboard {
    display: flex;
    flex-direction: column;
    gap: 30px;
}



@media (min-width:600px) {
    body {
        display: grid;
        place-items: center;
    }

    .dashboard {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .attendance {
        grid-row: 1/3;
    }
}

@media (min-width:1200px) {
    body {
        display: grid;
        place-items: center;
    }

    .dashboard {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .attendance {
        grid-row: 1/3;
    }
}

.attendance, .total-emp, .on-time, .absent, .late-arrival, .early-dep, .time-off {
    background-color: var(--white);
    padding: 25px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 300;
}

.total-emp>div, .on-time>div, .absent>div, .late-arrival>div, .early-dep>div, .time-off>div {
    display: flex;
    justify-content: space-between;
    font-size: 2.3rem;
    color: var(--dark-blue);
}

.text {
    margin-top: 10px;
    color: var(--dark-blue);
}

.desc {
    display: flex;
    gap: 8px;
}

.desc span {
    font-size: calc(1rem - 4px);
    text-transform: capitalize;
    color: var(--light-blue);
}

.attendance {
    gap: 30px;
    justify-content: space-between;
}

.currentTime {
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: min-content;
    column-gap: 20px;
    color: var(--light-blue);
}

.sun {
    grid-row: 1/3;
}

.time {
    grid-column: 2/3;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.currentDate {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--dark-blue);
}

.btn-attend {
    font-size: 1rem;
    font-family: var(--ff-lex);
    text-transform: capitalize;
    color: var(--white);
    border: none;
    background-color: var(--blue);
    border-radius: 10px;
    padding: 13px;
    font-weight: 300;
    cursor: pointer;
    transition: 0.3s;
}

.btn-attend:hover {
    background-color: var(--blue-hover);
}